body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.level {
    border: 8px solid pink;
    padding: 4px;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
}

.elements{
    /*border: 3px solid pink;*/
    padding: 4px;
}

.element {
    display:inline-block;
    border: 2px solid pink;
    padding: 4px;
    margin: 2px 0px 2px 0px;
    border-radius: 10px;
}

.element.end-of-line {
    border-color:lightgray;
    border-style:dashed;
}

.selected{
    background-color:aquamarine;
}

.ancestor {
    background-color:aqua;
}

.descendent {
    background-color:deepskyblue;
}


